h1 {
	
	color: cyan;
}


body {
	background-color: brown;
	

}


.video {
	width: 100%;
}

.c-video {
	width: 100%;
	max-width: 800px;
}

.controls {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	flex-wrap: wrap;
	background: rgba(0,0,0,0.7);
}
