h1 {
	
	color: rgb(0, 0, 0);
}

body {
    	background-image: url('imgs/background1.webp');
    	background-size: 50%;
    	background-repeat: no-repeat;
	background-position: center;
    	background-color: #cfcece;

}

.image-container {
	float: right; /* Float the container to the right */
	margin: 0 0 500px 300px; /* Add margin for spacing */
}


#drawing-pad {
	float: right;
	border: 1px solid black;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

